<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (c) 2017. Alfanse Developers
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except
  ~  in compliance with the License. You may obtain a copy of the License at
  ~  http://www.apache.org/licenses/LICENSE-2.0
  ~ Unless required by applicable law or agreed to in writing, software distributed under the License
  ~ is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
  ~ either express or implied. See the License for the specific language governing permissions
  ~ and limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alfanse.author">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Tell the system this app requires OpenGL ES 2.0. -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <service android:name=".Services.MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Services.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.HomeActivity" />
        <activity
            android:name=".Activities.NewQuoteActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" /> <!-- optional (needed if default theme has no action bar) -->

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".Activities.SignInActivity" />
        <activity android:name=".Activities.SignUpActivity" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="a54e4aa5b01b857f327df6071a2d53498d07261e" />

        <activity
            android:name=".Activities.UserAccountActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".Activities.PublishQuoteActivity" />
        <activity android:name=".Activities.ChooseCategoryActivity" />
        <activity android:name=".Activities.BaseActivity" />
        <activity android:name=".Activities.EditProfileActivity" />
        <activity android:name=".Activities.UpdatePasswordActivity" />
        <activity android:name=".Activities.AuthorsActivity" />
        <activity android:name=".Activities.QuotesActivity" />
        <activity android:name=".Activities.QuoteActivity" />
        <activity android:name=".Activities.CommentsActivity" />
        <activity
            android:name=".Activities.AuthorActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".Activities.ExploreQuotesActivity">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity android:name=".Activities.ChooseCountryActivity" />
        <activity
            android:name=".Activities.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.ApiMaintenanceActivity" />
        <activity android:name=".Activities.NoInternetConnectionActivity" />
        <activity android:name=".Activities.AppUpgradeActivity"></activity>
        <activity android:name=".Activities.NewHtmlActivity"></activity>
    </application>

</manifest>